
<% include partials/header %>
  <div class="container">

  <h1>Hello World!</h1>
    <% for (let value of blogs) { %>
      <ul>
        <li> <%= value.autor %> </li>
        <li> <%= value.text.substring(0,50) + '...' %> </li>
        <li> <%= '#' + value.hastag %> </li>
        <li> <a href='/posts/<%=value._id%>'> <%= value._id %> </a> </li>
    </ul>
    <% } %>


  </div>

<% include partials/footer %>

